.grid-container {
    display: grid; 
    grid-template-columns: 1fr;
    gap: .625rem;
    padding: 0px;
    /* scroll-snap-type: y mandatory; */
  }

  .grid-item {
    user-select: none;
    position: relative;
  }
  
  .moving {
    border-radius: .5rem;
  }
