* {
  overflow-anchor: none;
  /*   scroll-snap-stop: normal !important;
  overscroll-behavior: unset !important;
  scroll-behavior: unset !important; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

:root {
  font-family: "Montserrat", sans-serif;
  --border-radius-small: 0.1rem;
}

[contenteditable="true"] {
  outline: 0px solid transparent;
}

.container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 4fr 5fr;
  grid-template-rows: 1fr;
  padding: 1.5rem 2rem 3rem;
  /* padding-bottom: 4rem; */
  gap: 1.25rem;
}

.bar {
  border-radius: var(--border-radius-small);
  background-color: lightgrey;

  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
}
.bar > * {
  border-radius: var(--border-radius-small);
  background-color: white;
}
/* .projects {
  grid-template-rows: 2fr 35.5rem 1fr;
}
.project-todos {
  grid-template-rows: 20% 8fr 1fr;
}
.todo {
  grid-template-rows: 1fr;
} */
.projects__project-list-wrapper {
  padding: 1rem 0.5rem;
  background-color: rgb(247, 247, 247);
}
.projects__project-list {
  height: 100%;
  overflow-y: scroll;
  padding: 1px 0.5rem;
  /* scrollbar-width: none;
  -ms-overflow-style: none;  */
}
.projects__project-list::-webkit-scrollbar {
  /* WebKit */
  width: 0.75rem;
}
.projects__project-list::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
  border-radius: var(--border-radius-small);

  border-left: 0.175rem solid transparent;
  border-right: 0.175rem solid transparent;
  /*   border-top: .75rem solid transparent;
  border-bottom: .75rem solid transparent; */

  background-clip: padding-box;
}
.projects__project-list::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: var(--border-radius-small);
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.grid-item__content {
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-radius: var(--border-radius-small);
  background-color: hsl(0, 0%, 83%);
  position: relative;
  overflow-x: unset;
}

.grid-item__content.selected {
  /* font-weight: 600; */
  color: hsl(0, 0%, 23%);
  .grid-item__border {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    border: 0.125rem solid hsl(0, 0%, 66%);
    border-radius: var(--border-radius-small);
    /* box-shadow: inset 0 0 6px 3px rgb(187, 187, 187); */
    background-color: hsl(0, 0%, 94%);
    pointer-events: none;
  }
}

.grid-item__Title {
  cursor: text;
  padding-right: 0.5rem;
  white-space: nowrap;
  z-index: 1;
}
.grid-item__Title::selection {
  color: rgb(255, 255, 255);
  background: hsl(0, 0%, 50%);
}

.project-todos__details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.details__title {
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-radius: var(--border-radius-small);
  background-color: hsl(0, 0%, 83%);
  position: relative;
  overflow-x: unset;

  .details__title-border {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    border: 0.125rem solid hsl(0, 0%, 66%);
    border-radius: var(--border-radius-small);
    background-color: hsl(0, 0%, 94%);
    pointer-events: none;
  }
}

.details__title-text {
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(0, 0%, 23%);
  
}

.details__description {
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  padding: 1rem;
  display: flex;
  align-items: center;
  /* height: 3.5rem; */
  border-radius: var(--border-radius-small);
  background-color: hsl(0, 0%, 83%);
  position: relative;
  overflow-x: unset;
  min-height: 1rem;

  /*   .details__description-border {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    border: .125rem solid hsl(0, 0%, 66%);
    border-radius: var(--border-radius-small);
    background-color: hsl(0, 0%, 94%);
    pointer-events: none;
  } */
}

.details__description-text {
  z-index: 1;
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(0, 0%, 23%);
  
}
