* {
  overflow-anchor: none;
  /*   scroll-snap-stop: normal !important;
  overscroll-behavior: unset !important;
  scroll-behavior: unset !important; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

:root {
  font-family: "Montserrat", sans-serif;
  --border-radius-small: 0.5rem;
  letter-spacing: 0.0125rem;
  line-height: 1.25rem;
}

[contenteditable="true"] {
  outline: 0px solid transparent;
}

.container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
  grid-template-rows: 1fr;
  padding: 1.75rem 2rem 3rem;
  /* padding-bottom: 4rem; */
  /* gap: 0.75rem; */
}

.bar {
  border-radius: var(--border-radius-small);
  background-color: rgb(247, 247, 247);
  padding: 1rem;
  gap: 1.25rem;

  display: flex;
  flex-direction: column;
  /* padding: 0.75rem; */
  /* gap: 0.75rem; */
  max-height: 100vh;
}
.bar > * {
  border-radius: var(--border-radius-small);
  background-color: rgb(247, 247, 247);
}

.heading {
  display: flex;
  padding-right: 0.75rem;
}

.label-text {
  display: flex;
  align-items: end;
  font-size: 1.5rem;
  font-weight: 650;
  padding-left: 0.75rem;
  padding-bottom: 0.75rem;
  color: rgb(184, 184, 184);
}

.toolbar {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  gap: 0.25rem;
  padding-bottom: 0.625rem;
}

.projects__project-list-wrapper,
.project-todos__todo-list-wrapper {
  background-color: rgb(247, 247, 247);
}
.projects__project-list,
.project-todos__todo-list {
  max-height: 24.75rem; /*multiple of 3.75*/
  overflow-y: scroll;
  padding: 0px 0.5rem 0px 0;
  /* scrollbar-width: none;
  -ms-overflow-style: none;  */
}
.projects__project-list::-webkit-scrollbar,
.project-todos__todo-list::-webkit-scrollbar {
  /* WebKit */
  width: 0.75rem;
}
.projects__project-list::-webkit-scrollbar-track,
.project-todos__todo-list::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
  border-radius: var(--border-radius-small);

  border-left: 0.175rem solid transparent;
  border-right: 0.175rem solid transparent;
  /*   border-top: .75rem solid transparent;
  border-bottom: .75rem solid transparent; */

  background-clip: padding-box;
}
.projects__project-list::-webkit-scrollbar-thumb,
.project-todos__todo-list::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: var(--border-radius-small);
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.projects__toolbar,
.project-todo__toolbar {
  padding-top: 0;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: end;
  gap: 0.25rem;
}
.toolbar__button {
  border-radius: var(--border-radius-small);
  border: none;
  outline: none;
  width: 1.625rem;
  aspect-ratio: 1/1;
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  font-size: 1.375rem;
  background-color: hsl(0, 0%, 83%);
}

.tooltip {
  position: relative;
  /* display: inline-block; */
  cursor: default;
}

.tooltip .tooltip-text {
  color: hsl(0, 0%, 35%);
  background-color: hsl(0, 0%, 70%);
  font-size: 0.875rem;
  visibility: hidden;
  padding: 0.5rem 0.75rem;
  text-align: center;
  border-radius: var(--border-radius-small);
  white-space: nowrap;
  border: 0.25rem solid hsl(0, 0%, 97%);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -3rem;
  left: 1rem; /* calc(100% + 0.25rem); */
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  transition-delay: 0.5s;
}

.grid-item__content {
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  padding: 0.25rem 0.5rem 0.25rem 1.5rem;
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  border-radius: var(--border-radius-small);
  background-color: hsl(0, 0%, 89%);
  position: relative;
}

.grid-item__content.selected {
  color: hsl(0, 0%, 23%);
  background-color: hsl(0, 0%, 74%);

  .grid-item__border {
    position: absolute;
    --inset: 0.25rem;
    top: var(--inset);
    left: var(--inset);
    right: var(--inset);
    bottom: var(--inset);
    border-radius: calc(var(--border-radius-small) / 1.5);
    background-color: hsl(0, 0%, 94%);
    pointer-events: none;
  }

  .grid-item-grabber {
    svg {
      fill: hsl(0, 0%, 85%);
    }
  }
}

.grid-item__completed {
  z-index: 1;
  margin-right: 0.625rem;
  aspect-ratio: 1/1;
  height: 1.625rem;

  svg.completed {
    aspect-ratio: 1/1;
    height: 1.5rem;
    scale: 1.25;
    fill: hsl(0, 0%, 41%);
    pointer-events: none;
  }

  svg.incomplete {
    aspect-ratio: 1/1;
    height: 1.5rem;
    scale: 1.25;
    fill: hsl(0, 0%, 41%);
    pointer-events: none;
  }
}

.grid-item__completed[data-completed="true"] {
  svg.completed {
    display: inline;
  }
  svg.incomplete {
    display: none;
  }
}

.grid-item__completed[data-completed="false"] {
  svg.completed {
    display: none;
  }
  svg.incomplete {
    display: inline;
  }
}

.grid-item__completed[data-completed="false"]:hover {
  /* svg.completed {
    display: inline;
  } */
  svg.incomplete {
    /* display: none; */
    /* fill: blue; */
    stroke-width: 2px;
  }
}

.grid-item__completed[data-completed="false"]:active {
  svg.completed {
    display: inline;
    background-color: hsl(0, 0%, 41%);;
    fill: hsl(0, 0%, 97%);
    border-radius: 50%;
  }
  svg.incomplete {
    display: none;
  }
}
.grid-item__completed[data-completed="true"]:active {
  svg.completed {
    display: none;
  }
  svg.incomplete {
    
    display: inline;
    background-color: hsl(0, 0%, 41%);
    fill: hsl(0, 0%, 97%);
    border-radius: 50%;
  }
}

/* .grid-item__completed:hover {
  svg.completed {
    display: inline;
  }
  svg.incomplete {
    display: none;
  }
}

.grid-item__completed:active {
  svg.completed {
    background-color: hsl(0, 0%, 41%);;
    fill: white;
    border-radius: 50%;
  }
  svg.incomplete {
    background-color: hsl(0, 0%, 41%);;
    fill: white;
    border-radius: 50%;
  }
} */

.grid-item__Title {
  cursor: text;
  padding-right: 0.5rem;
  z-index: 1;
}
.grid-item__Title::selection {
  color: rgb(255, 255, 255);
  background: hsl(0, 0%, 50%);
}

.grid-item-grabber {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 1.5rem;
  min-height: 2.5rem;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  z-index: 1;

  svg {
    aspect-ratio: 1/1;
    width: 1.5rem;
    /* height: 2.5rem; */
    scale: 1.375;
    fill: hsl(0, 0%, 80%);
    pointer-events: none;
  }
}

.project-todos__details {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  svg {
    fill: blue;
  }
}

.details__title,
.projects__header {
  line-height: 1.3;
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  padding: 1.25rem 1.5rem;

  display: flex;
  align-items: center;
  min-height: 3.5rem;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  background-color: hsl(0, 0%, 74%);
  position: relative;

  .details__title-border,
  .projects__header-border {
    position: absolute;
    --inset: 0.25rem;
    top: var(--inset);
    left: var(--inset);
    right: var(--inset);
    bottom: var(--inset);
    /* border: 0.125rem solid hsl(0, 0%, 66%); */
    border-radius: calc(var(--border-radius-small) / 1.5);
    background-color: hsl(0, 0%, 94%);
    pointer-events: none;
  }

  .details__title-text,
  .projects__header-title {
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(0, 0%, 23%);
  }
}

.details__description {
  border-bottom: 0.25rem solid rgb(214, 214, 214);
  border-left: 0.25rem solid rgb(214, 214, 214);
  border-right: 0.25rem solid rgb(214, 214, 214);
  color: hsl(0, 0%, 35%);
  padding: 1rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  background-color: hsl(0, 0%, 89%);
  position: relative;

  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(0, 0%, 23%);

  ::selection {
    color: rgb(255, 255, 255);
    background: hsl(0, 0%, 50%);
  }
}

.todo__header {
  display: flex;
  flex-direction: column;
}

.details__due-date-wrapper,
.details__priority-wrapper {
  display: flex;
  flex-direction: column;
}

.details__due-date,
.details__priority {
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-radius: var(--border-radius-small);
  background-color: hsl(0, 0%, 89%);
  position: relative;
  overflow-x: unset;
}

.star-rating {
  width: 0;
  position: relative;
  display: inline-block;
  background-image: url("./stars/star_0.svg") !important;
  background-position: 0 0;
  background-repeat: repeat-x;
  cursor: pointer;
}

.star-rating .star-value {
  width: 0;
  position: relative;
  display: inline-block;
  background-image: url("./stars/star_1.svg") !important;
  background-position: 0 0;
  background-repeat: repeat-x;
  cursor: pointer;
}
