/* taken from W3Schools example, customized to be adjustable by height */

/* <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> */

:root {
    
    --switch-height: 24px;
    --circle-margin: 3px;
    --circle-radius: calc(var(--switch-height) - (2 * (var(--circle-margin))));
    --switch-width: calc(var(--switch-height) + var(--circle-radius));
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d16a6a;
    /* -webkit-transition: 1.4s; */
    /* transition: all 1.4s; */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--circle-radius);
    width: var(--circle-radius);
    left: var(--circle-margin);
    bottom: var(--circle-margin);
    background-color: white;
    /* -webkit-transition: 1.4s; */
    transition:  .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
 /*  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider:before {
    /* -webkit-transform: translateX(var(--circle-radius));
    -ms-transform: translateX(var(--circle-radius)); */
    transform: translateX(var(--circle-radius));
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: var(--switch-height);
  }
  
  .slider.round:before {
    border-radius: var(--switch-height);
  }